<!DOCTYPE HTML>
<html>
<head>
    <title>spring boot webservice</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Web service starting with spring boot</h1>
</body>
</html>